set_io D1 C3
set_io D2 B3
set_io D3 C4
set_io D4 C5
set_io D5 A1
set_io D6 A2
set_io D7 B4
set_io D8 B5

set_io CTS A15
set_io RTS B13

set_io TXD B12
set_io RXD B10

set_io oscillator J3
set_io resetq A16

set_io PIOS_00 R11
set_io PIOS_01 P11
set_io PIOS_02 P12
set_io PIOS_03 R12



set_io PORTA0  C16
set_io PORTA1  D16
set_io PORTA2  E16

set_io PORTA3  F16
set_io PORTA4  G16
set_io PORTA5  H16

set_io PORTA6  J15
set_io PORTA7  G14
set_io PORTA8  K14

set_io PORTA9  K15
set_io PORTA10 M16
set_io PORTA11 N16

set_io PORTA12 P16



set_io PORTB0  B16
set_io PORTB1  D14
set_io PORTB2  D15

set_io PORTB3  E14
set_io PORTB4  F15
set_io PORTB5  G15

set_io PORTB6  H14
set_io PORTB7  F14
set_io PORTB8  J14

set_io PORTB9  K16
set_io PORTB10 L16
set_io PORTB11 M15

set_io PORTB12 P15
set_io PORTB13 R15

